<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   
    <title>Schedule website</title>
    <%- include('../partials/linkCss') %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>New Schedule</title>
   
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function () {
        const elems = document.querySelectorAll("select");
        const options = { classes: "" };
        const instances = M.FormSelect.init(elems, options);
      });
    </script>
  </head>
  <body>
    
    <nav>
      <div class="nav-wrapper blue lighten-1">
        <a href="#" class="Mrlogo left"> </a>

        <a href="#" class="brand-logo center">Schedule App</a>
        <!-- <a href="#" data-activates="mobile-demo" class="button-collapse"
          ><i class="material-icons">menu</i></a
        > -->
        <!-- hide-on-med-and-down -->
        <ul class="right" id="nav-mobile">
          <li><a href="#">Home</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/">Register</a></li>
        </ul>
        <!-- <ul class="side-nav" id="mobile-demo">
          <li><a href="#">Home</a></li>
          <li><a href="/users/login">Login</a></li>
          <li><a href="/">Register</a></li>
        </ul> -->
      </div>
    </nav>
    <main class="container">
      <br />
      <h1>Welcome to Schedule App</h1>
      <section>
        <!-- filter section -->
        <div class="row center">
        <form id="tableForm" method="GET" action="/home/getJson" class="col s3">
          <div class="input-field col ">
          <select class="selectpicker" name="selectpicker">
                <option  value="0">Select All</option>
                <% for (let i = 0; i < usersAll.length; i++) { %>
                  <option  value="<%= usersAll[i].id %>"><%= usersAll[i].firstname %></option>
                  <% } %>
          </select>
          <label name="Select User">Select User</label>
          <input class="btn waves-effect light-blue" type="submit" />
        </div>
      </form>
      </div>
      </section>
      <section>
        <!-- user -->
        <table>
          <thead>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
             
            </tr>
          </thead>
          <tbody>
            <% 
            for (let i = 0; i < users.length; i++) { %>
              <tr>
                <td><%= users[i].firstname %></td>
                <td><%= users[i].lastname %></td>
                <td><%= users[i].email %></td>
               
              </tr>
            <% } %>
          </tbody>
        </table>
      </section>
      <section>
     <!-- schedules -->

     <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Day</th>
          <th>Start at</th>
          <th>End at</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < schedules.length; i++) { %>
        <tr>
          <td><%= schedules[i].username %></td>
          <td><%= schedules[i].day %></td>
          <td><%= schedules[i].start_time %></td>
          <td><%= schedules[i].end_time %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
      </section>
    </main>
    <!-- Compiled and minified JavaScript -->
    <!-- <script
      type="text/javascript"
      language="JavaScript"
      src="/materialize.min.js"
    ></script> -->

    <%- include('../partials/linkJS') %>
  </body>
</html>
